body{
  margin: 0;
  font-family: Arial;
}

.navbar{
  background: #222;
  padding: 15px;
  margin-bottom: 2rem;
  /* border-radius: 5px; */
}

.navbar a{
  color: white;
  margin-right: 15px;
  text-decoration: none;
  cursor: pointer;
}

